
.view{
  width: 100%;
  background-color: rgba(20, 245, 245, 0.89);
  
}
.row1{
background-color: darkcyan;
padding-top: 25px;
color:white;
font-size: 25px;
}
.rows{
  background-color: white;
}
.title{
  width: 57%;
  height: 60px;
font-size: 20px;
text-align-last: right;
color: green;
font-family: 'Times New Roman', Times, serif;
}
.pic{

  width: 40%;
  height: 95px;
  float: right;
  margin-top: -80px;
}
.stay{
  margin-top: 50px;
  width: 100%;
  color: green;
}


